* {
    margin-top: 1%;
    margin-left: 18%;
    padding: 1%;
  }

  .center {
    margin: auto;
    width: 50%;
  }
  
  .page {
    display: none;
  }
  
  .active {
    display: block;
  }


body {
    background-color: rgb(226, 234, 224);
  
}

h1 {
    color: rgb(33, 33, 35);
    margin-left: 10px;
}

ul {
  list-style-type: square;
  color:rgb(231, 88, 31);
  margin: 0;
  padding: 0;
}

ul.list-array {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(20, 3, 3);
  font-family: helvetica;
  text-decoration: none;
  text-transform: none;
}